.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(
    -25deg,
    rgb(77, 41, 110) 0%,
    rgb(95, 13, 77) 100%
  );
  margin-bottom: 16px;
}
.logo-box {
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.logo:hover {
  cursor: pointer;
}

.fleur {
  margin-top: 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.icons {
  font-size: 40px;
  margin-right: 6px;
}
.icons:hover {
  cursor: pointer;
  color: rgb(145, 145, 145);
}

.things {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  flex-wrap: wrap;
}
.span {
  margin-right: 5px;
}
.lign {
  border: 2px solid rgb(0, 0, 0);
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logout {
  width: 100px;
}

.logout:hover {
  background-color: rgb(124, 0, 0);
}

@media (max-width: 600px) {
  .things {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .icons {
    font-size: 30px;
  }
}
