.chatBox {
  flex: 5;
}

.chatBoxWrapper {
  box-shadow: 10px 12px 19px 8px #000000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 30px;
  height: 700px;
}

.chatBoxTop {
  overflow-y: scroll;
  padding-right: 10px;
  padding-left: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 200px;
  height: 90px;
  border: none;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatSubmitButton:hover {
  background-color: rgb(1, 78, 54);
}

.message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.messageBox {
  word-wrap: break-word;
}

.messageText {
  padding: 10px;
  border-radius: 20px;
  background-color: #1877f2;
  color: white;
}

.messageBottom {
  font-size: 12px;
  margin-top: 10px;
}

.message.own {
  align-items: flex-end;
  flex-wrap: wrap;
}

.message.own .messageText {
  background-color: rgb(245, 241, 241);
  color: black;
  flex-wrap: wrap;
}

.chat-name {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ligne {
  color: black;
}

.current-chat-name {
  margin-left: 10px;
  font-size: 25px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .chatBoxWrapper {
    width: 350px;
    height: 650px;
  }

  .chatBoxBottom {
    margin-top: 20px;
  }
}
