.logo-login {
  margin: 20px;
}

.login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    -25deg,
    rgb(77, 41, 110) 0%,
    rgb(95, 13, 77) 100%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.login-titel {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 24px;
}

.login-box {
  height: 500px;
  padding: 60px;
  border-radius: 20px;
  background: linear-gradient(
    -25deg,
    rgb(77, 41, 110) 0%,
    rgb(95, 13, 77) 100%
  );
  -webkit-box-shadow: 9px 11px 15px 5px #000000;
  box-shadow: 9px 11px 15px 5px #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 50px;
  border-radius: 20px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.login-forgot {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.login-registerButton {
  align-self: center;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.newPass-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  -webkit-box-shadow: 12px 10px 15px 6px rgba(0, 0, 0, 0.87);
  box-shadow: 12px 10px 15px 6px rgba(0, 0, 0, 0.87);
  border-radius: 20px;
  border-color: #000000;
  margin-left: 50px;
}

.newPassInfos {
  height: 50px;
  border-radius: 20px;
  border: 1px solid gray;
  font-size: 18px;
  margin: 5px;
  padding: 20px;
}

.newPass-btns {
  height: 50px;
  border-radius: 20px;
  border: none;
  background-color: rgb(210, 36, 172);
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 30px;
}

.newPass-btns:hover {
  background-color: rgb(151, 0, 118);
}

.newPass-title {
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .login-box {
    width: 320px;
    margin-left: -40px;
    margin-bottom: 50px;
    margin-top: 50px;
  }


  .newPass-box {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
  }

  .newPass-title {
    margin: 20px;
  }
}
