body {
  font-family: sans-serif;
  color: white;
  font-size: 20px;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
}

/* --------------------------- Registration ------------------------------ */

/* title */
#title {
  text-align: left;
}

/* Navigation-Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: sans-serif;
}

.nav-link:hover {
  border-radius: 20px;
}

.container-fluid {
  padding: 3% 15%;
}

/* logo */

.logo {
  width: 250px;
  height: 150px;
}

/* anmeldung-button */

.anmeldung-button {
  background-color: white;
}

.anmeldung-link {
  color: red;
}

/* table */
#table-middel {
  text-align: center;
}

.table-space {
  margin: 20px 50px 30px 50px;
}

.input-aba {
  border-radius: 20px;
  background-color: white;
  width: 250px;
  border: 0ch;
  height: 30px;
}

.next-button {
  background-color: white;
  color: rgb(139, 36, 117);
  margin-left: 30px;
}

.next-link {
  font-size: 1.2rem;
  font-family: sans-serif;
}

/* --------------------------- Login ------------------------------ */

#login-body {
  margin: 2rem;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.signin-btn {
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

.p-color {
  color: #454545;
}

/*heading */

.big-heading {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 3.5rem;
  height: 1.5;
  padding-top: 4%;
  color: white;
}

/* section-heading */
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}
/* Sections */

.colored-section {
  text-align: center;
  background: linear-gradient(
    -25deg,
    rgb(77, 41, 110) 0%,
    rgb(95, 13, 77) 100%
  );
  color: #fff;
}

.cat-container {
  padding: 100px;
}
.white-section {
  background-color: #fff;
}
/* Navigation-Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: sans-serif;
}

/* title-section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* tittel-img */

.tittel-img {
  width: 35rem;
  position: absolute;
  right: 10%;
}

/* download-button */
.download-butten {
  margin: 5% 3% 5% 0;
}

/* features */
#features {
  position: relative;
}

.features-box {
  padding: 1%;
  text-align: center;
}

.features-title {
  color: #8b2475;
  font-weight: bold;
}

.icon {
  color: #8b2475;
  font-size: 50px;
  margin-bottom: 15px;
}

.icon:hover {
  color: #ff4c68;
}

.ligne {
  color: #1b1b1b;
}

.bamberg {
  width: 100%;
}

/* testimonials */

#testimonials {
  background-image: url("");
  background-size: 100%;
  padding: 20%;
}

.testimonial-text {
  margin: 20%;
  font-size: 3rem;
  line-height: 1.5;
}

/* footer */

.footer-context {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 20px;
}

.footer-icons {
  font-size: 40px;
  margin: 5px;
}

.footer-icons:hover {
  cursor: pointer;
  color: #b284b4;
}
/* footer */

@media (max-width: 600px) {
  #title {
    text-align: center;
  }

  .tittel-img {
    position: static;
    transform: rotate(0);
    width: 350px;
    height: 220px;
    margin-left: -50px;
  }

  .cta-heading {
    font-size: 1.5rem;
    line-height: 1rem;
  }

  .cat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px;
  }

  .big-heading {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .download-butten {
    width: 150px;
  }
  .colored-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}
