.messenger {
  display: flex;
  margin: 50px;
}

.freunden {
  flex: 3;
  overflow-y: scroll;
  border: solid;
  border-radius: 20px;
  margin-right: 30px;
  padding: 30px;
  box-shadow: 10px 12px 19px 8px #000000;
}

.freunden-title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.freunden-icon {
  font-size: 35px;
  margin-right: 10px;
}

.chatMenuWrapper,
.chatBoxWrapper,
.freundenWrapper {
  padding: 10px;
  height: 100%;
  color: black;
}

.freunden-title {
  font-weight: 600;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

.friend {
  padding: 10px;
  border: solid;
  border-color: black;
  border-radius: 20px;
  border-width: 1px;
}
.friend:hover {
  background-color: rgb(240, 240, 241);
  cursor: pointer;
  border-radius: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.avatar-name {
  color: black;
  margin-left: 10px;
}

.sendIcon {
  font-size: 30px;
  margin-right: 10px;
}

@media (max-width: 800px) {
  .messenger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .freunden {
    width: 350px;
    margin-bottom: 50px;
    margin-left: 30px;
  }

  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox {
    flex: 10;
  }

  .chatOnline {
    flex: 1px;
  }
}
