/*Dieses css-Dokument wird von der Registrierungs- und Accountseite benutzt */

html {
  min-height: 100%;
}

body {
  height: 100%;
}

h1 {
  /* Überschrift Mein Account*/
  color: rgb(95, 13, 77);
  display: inline-block;
}

#backButton {
  /* Betrifft Zurück-Knopf neben Überschrift*/
  text-decoration: none; /*Anpassen der Knopf-Position, so dass er mit der Überschrift auf gleicher Höhe und gleich groß ist*/
  display: inline-flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -2px;
}

#backButtonText {
  /*Betrifft Pfeil innerhalb des Zurück-Knopfs, macht den Pfeil gößer und vertikatl mittig*/
  font-size: x-large;
  position: relative;
  top: -1px;
}

#backButton:hover {
  /*Macht den Zurück-Knopf lila wenn die Maus darüber ist */
  color: rgb(139, 36, 117);
}

input[type="radio"]:checked {
  /* Macht Akzentfarbe von Radiobuttons bei Fakultätsauswahl lila*/
  accent-color: rgb(139, 36, 117);
}

.radioLabel {
  /*Setzt Beschriftung von Radiobuttons vertikal mittig zum Radiobutton*/
  position: relative;
  top: -2px;
}

.purpleButton {
  /*Betrifft alle lilanen Knöpfe (evtl noch weitere) und setzt die Farben des Knopfs, Textinhalt und Rand*/
  background-color: rgb(139, 36, 117);
  color: white;
  border-color: rgb(139, 36, 117);
}

.btn-block:hover,                           /*Betrifft alle lila Knöpfe UND die Hinzufügen-Knöpfe (+-Knopf) bei Interessen und Abneigungen*/
.purpleButton:hover {
  /*Setzt andere Farben wenn die Maus über dem Knopf ist*/
  color: #fff;
  background-color: rgb(139, 36, 117);
  border-color: rgb(139, 36, 117);
}

.btn-block:focus,                           /*Betrifft alle lila Knöpfe UND die Hinzufügen-Knöpfe (+-Knopf) bei Interessen und Abneigungen*/
.purpleButton:focus {
  /*Setzt Rand des Knopfs auf anderes lila, wenn der Knopf gedrückt wurde*/
  box-shadow: 0 0 0 0.2rem rgb(139, 36, 117);
}

.purpleButton:hover {
  /*Setzt die Farbe der lilanen Knöpfe auf ein dunkleres lila, wenn die Maus darüber ist*/
  background-color: rgb(95, 13, 77);
}

.btn-block {
  /*Betrifft die beiden Hinzufügen-Knöpfe (+-Knöpfe) bei Interessen und Abneigungen*/
  font-size: 1000%; /*Macht das + größer*/
  background-color: white; /*Setzt die Farben des Knopfs*/
  border-color: rgb(139, 36, 117);
  color: rgb(139, 36, 117);
  height: 236px; /*Macht den Knopf so hoch wie die anderen Aktivitäten*/
}

.form-control:focus {
  /*Betrifft ALLE Felder, die einen Input vom User erwarten*/
  outline: none !important; /*Erstellt bei Fokus den lilanen Halo-Effekt*/
  border-color: rgb(139, 36, 117);
  box-shadow: 0 0 10px rgb(139, 36, 117);
}

textarea {
  /*Betrifft die Texteingabefelder bei Interessen & Abneigungen*/
  overflow: visible; /*Macht den Overflow per Scrollbar sichtbar und verhindert das Anpassen der Feldgröße*/
  resize: none;
}

.overviewCard,                              /*Erstellt den weißen abgerundeten Hintergrund für die drei geteilten Felder*/
#profileForm {
  background-color: white;
  border-radius: 25px;
}

.modal-content {
  /*Macht den Rand des Modals (Popup bei Drücken des Account Löschen Knopfs) rot*/
  border-color: red;
  border-width: 2px;
}

h4 {
  /*Macht die Überschriften Meine Interessen/Meine Abneigungen zum inline-Element, statt Block-Level*/
  display: inline;
}

.activityCardHeader {
  /*Macht, dass der X-Knopf neben den Überschriften Meine Interessen/Meine Abneigungen ist*/
  display: inline-flex;
}

.overviewCard > .card-header {
  /*Betrifft alle Card-Header, die direktes Kind von overviewCard sind (hier die aufklappbaren Überschriften)*/
  background-color: transparent; /*Macht Hintergrund transparent(Schaut sonst scheiße aus bei den abgerundeten Ecken)*/
}

.expandSymbol {
  /*Betrifft die +/- Symbole bei den aufklappbaren Überschriften und setzt sie an den rechten Rand*/
  float: right;
}

.overviewCard > .card-header:hover {
  /*Macht die Maus zu einem Pointer, wenn die Maus über die aufklappbaren Bereiche ist*/
  cursor: pointer;
}

.purpleBorder {
  /*Betrifft den Rand bei einzelnen Interessen & Aktivitäten*/
  border-color: rgb(139, 36, 117);
  height: 236px;
}

.persoInfos {
  border: solid;
  border-radius: 25px;
  box-shadow: 10px 8px 17px 6px #000000;
  margin-bottom: 50px;
  margin-top: 50px;
}

.mein-account {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profil-logo {
  font-size: 50px;
  margin-right: 10px;
}

.form-group {
  margin-top: 20px;
}

.buttons-box {
  margin-top: 20px;
}

.modal-title {
  color: black;
}

.account-lign {
  color: rgb(139, 36, 117);
}

.interessen-container {
  margin-top: 20px;
  color: black;
}
.interessen-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.interet {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: solid;
  border-radius: 15px;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
}

.interet-title {
  margin-right: 10px;
  margin-left: 10px;
}
.delete {
  border-radius: 80px;
}

.delete-account-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: linear-gradient(
    -25deg,
    rgb(77, 41, 110) 0%,
    rgb(95, 13, 77) 100%
  );
}
.delete-account {
  background-color: #fff;
  box-shadow: 10px 11px 13px 6px #000000;
  border-radius: 10px;
  color: rgb(95, 13, 77);
  border-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.abbrechen {
  margin: 30px;
  width: 200px;
}

.delete-title {
  margin-bottom: 30px;
}
.fakultäten-box {
  color: #000000;
}

.multiselect-box {
  margin-left: 5px;
}

.plus {
  font-size: 30px;
  color: rgb(0, 211, 88);
}

.plus:hover {
  font-size: 35px;
  cursor: pointer;
  color: rgb(0, 137, 57);
}

.meine-fakultaet {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}
