.space {
  margin-top: 9%;
}
.underline {
  text-decoration: underline black;
}
.colored {
  background: rgb(183, 63, 239);
  background: linear-gradient(
    -25deg,
    rgba(77, 41, 110) 0%,
    rgba(95, 13, 77) 100%
  );
}

i {
  color: white;
}

/* Bamberg-connect-logo */
.Bamberg-connect-logo {
  width: 30%;
}

.container-fluid-nav {
  padding: 1% 7%;
  border-bottom: solid 2px;
}

/* Navbar */

.navbar-links {
  text-align: right;
}

/* side-bar */

.side-bar {
  background: rgb(183, 63, 239);
  background: linear-gradient(
    -25deg,
    rgba(77, 41, 110) 0%,
    rgba(95, 13, 77) 100%
  );
  position: fixed relative;
  left: 0;
  width: 15%;
  display: inline-block;
}

.side-Navbar-text {
  color: white;
}

.some-spacing {
  margin: 1rem;
}

/* Events-Section */

.match {
  background-color: gray;
  margin: 2% 3%;
  border: solid 1px;
  text-align: center;
  border-radius: 25px;
  padding: 20px;
  right: 3%;
}

.number {
  font-size: xx-small;
  color: white;
}

.btn {
  border: solid 1px black;
}

.vl {
  border-left: 3px solid black;
  border-radius: 5%;
  height: auto;
  margin-left: 15px;
}

.caleneder-icon {
  color: black;
  margin: 10px;
}

.events-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.calenderIcon {
  margin-right: 20px;
  font-size: 60px;
}

.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.event {
  padding: 40px;
}

.event-icon {
  margin-right: 10px;
}

.neueEvent-icon {
  margin-right: 10px;
  font-size: 20px;
}

/* media-for-side-bar */

@media (max-width: 800px) {
  .fa-3x {
    font-size: 2em;
  }

  .some-spacing {
    margin: 0;
  }

  .side-Navbar-text {
    font-size: 1.8vw;
  }

  .button-bd {
    text-align: right;
  }
  .space {
    margin-top: 7.4rem;
  }
}
