.event-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.event-title {
  font-weight: 600;
}
.event-btn {
  text-align: center;
  font-size: 20px;
}

.events-body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 100%;
  max-height: 100vh;
}

.neueevent-container {
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(
    -25deg,
    rgba(77, 41, 110) 0%,
    rgba(95, 13, 77) 100%
  );
  color: white;
  box-shadow: 8px 7px 25px 9px #000000;
}

.neuEvent-Btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.calenderBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.calenderLogo {
  margin-right: 20px;
  margin-top: -10px;
  font-size: 30px;
}

.event-column {
  display: flex;
  flex-direction: column;
}
.event-column div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.event-column span {
  margin-right: 60px;
}
.event-column input {
  margin-bottom: 20px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
}

.event-column textarea {
  margin-bottom: 20px;
  width: 300px;
  border-radius: 10px;
}

.erstellenBtn {
  width: 150px;
}

.moderatorRolle {
  background: linear-gradient(
    -25deg,
    rgba(77, 41, 110) 0%,
    rgba(95, 13, 77) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
  margin: 100px;
  padding: 50px;
  -webkit-box-shadow: 8px 7px 25px 9px #000000;
  box-shadow: 8px 7px 25px 9px #000000;
}

.askModeratorBtn {
  margin-top: 40px;
  width: 500px;
  height: 50px;
  border-radius: 20px;
}

.alerta {
  font-size: 100px;
  margin-bottom: 40px;
  color: rgb(237, 217, 0);
}

.validator {
  font-size: 100px;
  margin-bottom: 40px;
  color: rgb(0, 192, 58);
}

.eventTop-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}
.eventTop-right {
  margin: 20px;
}

@media (max-width: 800px) {
  .moderatorRolle {
    margin: 30px;
  }

  .askModeratorBtn {
    width: 250px;
  }

  .neueevent-container {
    width: 350px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .neueevent-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .neueevent-container input {
    margin-left: -40px;
  }
  .neueevent-container textarea {
    margin-right: 40px;
  }

  .event-column {
    margin-left: -20px;
  }
  .neuEvent-Btns {
    margin-left: -50px;
  }

  .events-body {
    margin-top: 50px;
  }

  .erstellenBtn {
    width: 300px;
    margin-bottom: 20px;
  }

  .calenderBox {
    margin-left: -50px;
  }
  .calenderBox h3 {
    font-size: 30px;
    margin-top: 20px;
  }
  .calenderLogo {
    font-size: 40px;
  }
}
