.community {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.community-top {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.community-logo {
  color: rgb(95, 13, 77);
  font-size: 60px;
  margin-right: 10px;
}

.card {
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-img {
  width: 200px;
}

.match {
  background-color: rgb(145, 2, 2);
  margin: 2% 3%;
  text-align: center;
  border-radius: 25px;
  right: 3%;
  color: black;
  box-shadow: 8px 8px 20px 9px #000000;
}

.matching-title {
  font-weight: 600;
}
