.registierung-body {
  background: linear-gradient(
    -25deg,
    rgb(77, 41, 110) 0%,
    rgb(95, 13, 77) 100%
  );
}

.container {
  background-color: #fff;
  color: #000000;
  position: relative;
  max-width: 1300px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  margin: 15px 15px;
  -webkit-box-shadow: 9px 11px 15px 5px #000000;
  box-shadow: 9px 11px 15px 5px #000000;
}

.container h3 {
  font-weight: 600;
}

.container form {
  position: relative;
  min-height: 490px;
  margin-top: 15px;
}

.container form .details {
  margin-top: 30px;
}

.container form .title {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  margin: 6px 0;
}

.container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 5px);
  margin: 4px 0;
}
.input-field span {
  font-size: 15px;
  font-weight: 500;
}
.input-field input {
  outline: none;
  border: 1px solid;
  height: 40px;
  margin: 8px 0;
  padding: 0 5px;
}

.fakultäten-box {
  margin: 20px 0;
}

.fakultäten {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fakultät-title {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.fakultät label {
  font-size: 17px;
}

.fakultät {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% / 2);
  margin: 5px;
}
.fakultät input {
  margin-right: 5px;
}

.container form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  max-width: 200px;
  width: 100%;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 50px 0;
  background-color: rgb(0, 176, 79);
  transition: all 0.3s linear;
}

form button:hover {
  cursor: pointer;
  background-color: rgb(0, 123, 56);
}

.interessen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.interesse {
  margin-right: 15px;
}

.interesse input {
  margin-right: 5px;
}

.interesse span {
  font-size: 17px;
}

.infos {
  font-size: 15px;
  margin-left: 10px;
  color: rgb(41, 209, 131);
}

.info-icon {
  margin-right: 5px;
}

.roleChecker-container {
  background: linear-gradient(
    -25deg,
    rgb(77, 41, 110) 0%,
    rgb(95, 13, 77) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-select {
  width: 250px;
  margin: 20px;
  font-size: 25px;
}

.btns-profil {
  width: 250px;
}
